/* Full-screen blue board (same idea as cb-root) */
.nb-root {
    -fx-padding: 22;

    -fx-background-color: linear-gradient(to bottom, #2f6fb6, #2b63a3);
    

    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.25), 18, 0.40, 0, 2);

    -fx-border-color: rgba(0,0,0,0.12);
    -fx-border-width: 1;
    
}

/* ScrollPane transparent so the board shows */
.nb-scroll {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
}

.nb-scroll > .viewport {
    -fx-background-color: transparent;
}

.nb-scroll .corner {
    -fx-background-color: transparent;
}

/* Content padding inside the board */
.nb-content {
    -fx-padding: 10 16 10 10; /* extra right padding */
}


/* Title on blue board (same vibe as cb-title) */
.nb-title {
    -fx-font-size: 22px;
    -fx-font-weight: 800;
    -fx-text-fill: rgba(255,255,255,0.95);
    -fx-cursor: hand;

    -fx-padding: 2 0 10 2;
}

/* Grid should be layout-only */
.nb-board {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/*for the back button*/
.nb-btn {
    -fx-background-color: rgba(255,255,255,0.80);
    -fx-background-radius: 18;
    -fx-border-radius: 18;

    -fx-border-color: rgba(0,0,0,0.10);
    -fx-border-width: 1;

    -fx-padding: 8 16 8 16;
    -fx-font-weight: 800;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.18), 14, 0.30, 0, 4);
}

.nb-btn:hover {
    -fx-background-color: rgba(255,255,255,0.92);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.22), 18, 0.35, 0, 6);
    -fx-translate-y: -1;
}

.nb-btn:pressed {
    -fx-translate-y: 0;
    -fx-background-color: rgba(255,255,255,0.75);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.14), 10, 0.25, 0, 3);
}
